server {
    listen 80 default_server;
    server_name _;
    {% if certbot_nginx_http_challenge_enabled %}
    location ~ /.well-known/acme-challenge {
	root {{ certbot_nginx_webroot_path }};
	default_type "text/plain";
    	allow all;
	break;
    }
    {% endif %}
    location / {
	return 301 https://$host$request_uri;
    }
}
