server {
    listen 80 default_server;
    server_name _;
    location ~ /.well-known/acme-challenge {
	root {{ nginx_webroot_path }};
	default_type "text/plain";
    	allow all;
	break;
    }

    location / {
	return 303 https://$host$request_uri;
    }    
}
